  <div class="col-md-9">
    <h4>Tickets</h4>
    <span>Action:
      <select id="actionSelect">
        <option value="0">Delete</option>
        <option value="1">Toggle done</option>
      </select>
      <div class="btn bnt-default" ng-click="handleAction()">OK</div>
    </span>
    <br />
    <table class="table">
      <thead>
        <th></th>
        <th>ID</th>
        <th>Title</th>
        <th>Brief description</th>
        <th>Created</th>
        <th>Requester</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr id="{{ticket.id}}_row" ng-repeat="ticket in getTickets() | orderBy:'createdTimestamp'" class="ticket-{{ticket.status}}">
          <td><input type="checkbox" id="{{ticket.id}}"></input></td>
          <td>{{ticket.id}}</td>
          <td><a href="./index.html#/ticket/{{ticket.id}}/details">{{ticket.title}}</a></td>
          <td>{{ticket.briefDescription}}</td>
          <td>{{ticket.createdTimestamp}}</td>
          <td>{{ticket.requester}}</td>
          <td>{{ticket.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>