  <div class="col-md-3 new-ticket">
    <div style="padding-bottom: 10px;">
      <h4>Requester</h4>
      <input id="newTicketRequester" type="text">
      <h4>Ticket title</h4>
      <input id="newTicketTitle" type="text">
      <h4>Description</h4>
      <textarea id="newTicketDescription" rows="7"></textarea>
      <br /><br />
      <div class="btn btn-primary" ng-click="addTicket()">Create new ticket</div>
    </div>
    
    <div ng-controller="LogController">
      <h4>Log</h4>
      <table class="table">
        <thead>
          <th>User</th>
          <th>Ticket</th>
          <th>Title</th>
          <th>Action</th>
          <th>Time</th>
        </thead>
        <tbody>
          <tr id="{{log.id}}_row" ng-repeat="log in getLogEntries() | orderBy:'timestamp'" style="font-size: 0.8em;">
            <td>{{log.userID}}</td>
            <td style="max-width: 10px; overflow: hidden;">{{log.ticketID}}</td>
            <td>{{log.title}}</td>
            <td>{{log.action}}</td>
            <td>{{log.timestamp}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
